<div id="text1">
    <h3>day la component Home</h3>
    <h2>chao ban {{ name }}</h2>
    <input type="text" [(ngModel)]="name">
    <p>Chào bạn {{name}}</p>
    <!-- <h2 *ngIf="age >= 15">Bạn đã đủ 15 tuổi</h2>
    <h2 *ngIf="age < 15">Bạn chưa đủ 15 tuổi</h2> -->
    <button (click)="resetName()">Reset tên</button>
    <div *ngFor="let trai of traiCay; let i = index">
        <li>{{i+1}}.{{trai}}</li>
    </div>
    <table class="table">
        <tr>
          <th>thu tu</th>
          <th>Ten</th>
          <th>Gia</th>
          <th>Ha gia</th>
        </tr>
        <tr *ngFor="let trai of traiCay2; let i = index">
          <td>{{i+1}}</td>
          <td>{{trai.ten}}</td>
          <td class="right">
            <span [ngClass]="{'so-am':trai.gia < 0}">{{trai.gia}}</span>
          </td>
          <td>
            <span *ngIf="trai.hagia">Dang ha gia</span>
          </td>
        </tr>
      </table>
</div>