<div id="text1">
    <h3>day la component Home</h3>
    <h2>chao ban {{ name }}</h2>
    <input type="text" [(ngModel)]="name">
    <p>Chào bạn {{name}}</p>
    <!-- <h2 *ngIf="age >= 15">Bạn đã đủ 15 tuổi</h2>
    <h2 *ngIf="age < 15">Bạn chưa đủ 15 tuổi</h2> -->
    <button (click)="resetName()">Reset tên</button>
    <div *ngFor="let trai of traiCay; let i = index">
        <li>{{i+1}}.{{trai}}</li>
    </div>
    <!-- <table class="table">
        <tr>
          <th>thu tu</th>
          <th>Ten</th>
          <th>Gia</th>
          <th>Ha gia</th>
        </tr>
        <tr *ngFor="let trai of traiCay2; let i = index">
          <td>{{i+1}}</td>
          <td>{{trai.ten |  uppercase}}</td>
          <td class="right">
            <span [ngClass]="{'so-am':trai.gia < 0}">{{trai.gia | currency:'VND':'symbol':'1.2'}}</span>
          </td>
          <td>
            <span>{{trai.hagia | onSale | uppercase}}</span>
          </td>
        </tr>
      </table> -->
      Tỉnh/Thành phố
      <select name="cars" id="city" (change)="changeCity($event)">
        <option *ngFor="let data of vietnamData" value="{{data.city}}">
          {{data.city}}
        </option>
      </select>
      <br />
      Quận/Huyện
      <select name="cars" id="district">
        <option *ngFor="let district of districts"  value="{{district}}">{{district}}</option>
      </select>
</div>